[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
flask-restplus = "*"
python-dotenv = "*"
marshmallow = "*"
requests = "*"
watchdog = "*"
Werkzeug = "*"
Flask = "*"
SQLAlchemy = "*"
sqlalchemy-utils = "*"

[dev-packages]

[requires]
python_version = "3.6"
